* {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    line-height: 3em;
}

header {
    background-size: cover;
    background-image: url(bg.jpg);
    background-position: fixed;
    color: white;
    padding: 2em;
}

header img {
    max-width: 150px;
    border-radius: 50%;
    position: relative;
    left: 860px;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 40px;
}

header section {
    max-width: 640px;
}

p {
    line-height: 2;
    position: relative;
    left: 640px;

}
