* {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    line-height: 3em;
}

header {
    background-size: cover;
    background-image: url(bg.jpg);
    background-position: fixed;
    color: white;
    padding: 2em;
}

header img {
    max-width: 150px;
    border-radius: 50%;
    position: relative;
    left: 860px;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 40px;
}

header section {
    max-width: 640px;
}

header p {
    line-height: 2;
    position: relative;
    left: 640px;

}

h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.course {
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.course .title {
    flex: 0 0 33.3%;
    max-width: 33%
}

.course .description {
    flex: 0 0 66.6%;
    max-width: 66.6%;
}

.course .description p {
    padding-left: 1em;
}

.skills {
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.skills .column {
    flex: 0 0 33.3%;
    max-width: 33%;
}


.skills .column ul {
    padding-left: 2em;
}

ul {
    margin: 0;
}

ul.ulist {
    list-style-type: none;
    padding: 0;
}

ul.ulist > li {
    padding-left: 1.5em;
}

ul.list > li:before {
    content: "-";
    padding-right: 0.5em;
}

.education {
    border-bottom: 2px solid black;
